@page
@model SportsGoalApp.Pages.AddGoalModel
@{
    var today = DateTime.Now.ToString("yyyy-MM-dd");
}

<div class="form-container m-3">
<h3>Add goal</h3>

<form clas="form-group" method="post">
    <label asp-for="NewGoal.Title">Title</label><br />
    <input type="text" asp-for="NewGoal.Title" />
    <br /><br />

    <label asp-for="NewGoal.Description"></label><br />
    <textarea asp-for="NewGoal.Description"></textarea>
    <br /><br />

    <label asp-for="NewGoal.StartDate">Start date</label><br />
    <input asp-for="NewGoal.StartDate" type = "date" value="@today"/>
    <br /><br />

    <label asp-for="NewGoal.EndDate">End date</label><br />
    <input asp-for="NewGoal.EndDate" type="date" value="@today" />
    <br /><br />

    <label asp-for="NewGoal.GoalNumber"></label><br />
    <input asp-for="NewGoal.GoalNumber" />
    <br /><br />

    <input type="submit" class="btn btn-success" value="Create new goal" />
    <br /><br /><br />
</form>

</div>