@page
@model SportsGoalApp.Pages.GoalModel
@{
}

<h1>My goals</h1>

<div>
    @foreach(var goal in Model.AllGoals)
    {
        <h5>@goal.Title</h5>
        <p>@goal.Description</p>
        <br />
    }
</div>

<form method="post">
    <label asp-for="NewGoal.Title">Title</label>
    <input type="text" asp-for="NewGoal.Title"/>
    <br /><br />

    <label asp-for="NewGoal.Description"></label>
    <textarea asp-for="NewGoal.Description"></textarea>
    <br /><br />

    <label asp-for="NewGoal.StartDate"></label>
    <input asp-for="NewGoal.StartDate" />

    <label asp-for="NewGoal.EndDate"></label>
    <input asp-for="NewGoal.EndDate" />
    <br /><br />

    <label asp-for="NewGoal.GoalNumber"></label>
    <input asp-for="NewGoal.GoalNumber" />

    <input type="submit" class="btn btn-success" value="Create new goal" />
    <br /><br /><br />
</form>
