@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="backgroundHockey" >
    <div class="content">
    <h1 class="display-4">Achieve Your Sports Goals</h1>
    <p>Your Personalized Sport Goal Tracker</p>
    </div>
</div>
