@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="form-container-custom m-3">
<h1>@ViewData["Title"]</h1>
<br />

<h6 class="fw-bold">Introduction</h6>
<p class="tabbed-text">Welcome to the Sport Goal Tracker application! This privacy policy outlines how we collect, use and protect your personal information.
    We are commited to safaguarding your privacy and ensuring that your personal data is protected.
</p>
<h6 class="fw-bold">Information Collection</h6>
<p class="tabbed-text">We collect personal information such as your name, email adrress, and sport preference when you register for an account.
    This information is gathered through our registration forms and user input fields within the app.
</p>
<h6 class="fw-bold">Use of Information</h6>
 <p class="tabbed-text">
        The information we collect is used to personalize your experience, improve our services, and send you notifications about your goals and progress. 
        We may also use automated decision-making processes to provide tailored suggestions based on your activity.
 </p>
 <h6 class="fw-bold">Sharing of Information</h6>
 <p class="tabbed-text">
      We do not share your personal information with third parties except as necesarry to provide our services, comply with legal obligations, or with your consent. 
      We integrate third-party APIs to enhance our app's functionality, and these services may have access to certain data as required for their operation.
 </p>
 <h6 class="fw-bold">Data Security</h6>
 <p class="tabbed-text">
      We implement industry-standard security measures such as encryption and access controlls to protect your data. Our application adheres to security standards
        like <a href="https://www.iso.org/standard/27001" target="_blank">ISO/IEC 27001</a> to ensure your information is secure.
 </p>
 <h6 class="fw-bold">User Rights</h6>
 <p class="tabbed-text">
      You have the right to access, correct, or delete your personal data. To exercise these right, please contact us at sportsgoaltracker@gmail.com. 
      We will respond to your request within 30 days.
 </p>
 <h6 class="fw-bold">Cookies and Tracking Technologies</h6>
 <p class="tabbed-text">
      Our app use cookies to enhance your user experience. You can manange your cookie preferences through your browser settings. 
      Disabling cookies may affect the functionality of certain features.
 </p>
 <h6 class="fw-bold">Children's Privacy'</h6>
 <p class="tabbed-text">
      We are commited to protecting the privacy of children. Our app requires parental consent for users under the age of 13. We do not knowingly collect personal information 
      from children without such consent.
 </p>
 <h6 class="fw-bold">Changes to the Privacy Policy</h6>
 <p class="tabbed-text">
      We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new policy on our website 
      and updating the 'Last Updated' date. Last Updated: Sunday, 8 December 2024.
 </p>
 <h6 class="fw-bold">Contact Information</h6>
 <p class="tabbed-text">
      If you have any questions or concerns about this Privacy Policy, please contact us.
 </p>
 <h6 class="fw-bold">Legal Compliance</h6>
 <p class="tabbed-text">
        Our application complies with applicable privacy laws and regulations, including <a href="https://gdpr.eu/" target="_blank" rel="noreferrer">GDPR</a> 
        and <a href="https://oag.ca.gov/privacy/ccpa">CCPA</a>.
      We are commited to ensuring that your privacy rights are respected and protected.
 </p>
</div>
