@using Microsoft.AspNetCore.Identity
@using SportsGoalApp.Areas.Identity.Data

@inject SignInManager<SportsGoalAppUser> SignInManager
@inject UserManager<SportsGoalAppUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{

        var user = await UserManager.GetUserAsync(User);
        if(user != null)
        {
            
        
        <li class="nav-item dropdown">
            <a class="nav-link text-dark btn dropdown-toggle bg-white border-0" asp-area="Identity" asp-page="/Account/Manage/Index" id="userDropdown" title="Manage" role="button" data-bs-toggle="dropdown" aria-expanded="false">Hello @user.Forename!</a>
            <ul class="dropdown-menu">
                <li class="dropdown-item" aria-labelledby="userDropdown">
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                        <button id="logout" type="submit" class="nav-link btn-link text-dark border-0">Logout</button>
                        @* <button type="submit" class="nav-link btn btn-link text-light">Logout</button> *@
                    </form>
                </li>
            </ul>
    </li>
    }
    <li class="nav-item dropdown">
            <a class="nav-link text-dark btn dropdown-toggle bg-white border-0" role="button" data-bs-toggle="dropdown" aria-expanded="false">Menu</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/AddGoal">Add Goal</a></li>
                <li><a class="dropdown-item" href="/AllGoals">View Goals</a></li>
                <li><a class="dropdown-item" href="/PracticeLog">Log Your Practice</a></li>
                <li><a class="dropdown-item" href="/AllPracticeLogs">View Your Log</a></li>
                <li><a class="dropdown-item" href="/MyAchievements">View Achievements</a></li>
            </ul>
    </li>
    <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/AICoach">AI Coach</a>
    </li>
    
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
