.backgroundHockey {
    position: relative;
    top:0;
    left: 0;
    background-image: url("../image/hockey1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 99vw;
    height: 40vw;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 60px;
}

.content {
    position: relative;
    z-index: 1;
    color: white;
}

.backgroundHockey::before{
    content:'';
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 0;
}

.imageRunner{
    flex: 1;
    background-image: url("../image/runner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.textNextToImage{
    flex: 1;
    padding:20px;

}

.textAndImage{
    display: flex;
    width: 99vw;
    height: 35vw;
    padding: 30px;
}

.button {
    background-color: #93DC5C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.button:hover{
    background-color: #32CD32;
}

.form-container {
    display: flex;
    justify-content: center; /* centers horizontally */
    align-items: center; /* centers vertically */
    flex-direction: column;
    width: auto;
    margin: 0 auto;
    padding: 30px;
    background-color: /*#953553*/ antiquewhite;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.form-group{
    display: inline-block;
    margin-bottom: 15px;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensures the navbar stays on top of other content */
    background-color: #fff; /* Optional: Set a background color to ensure it's visible */
}

.tabbed-text {
    /* This will create a tab-like indentation */
    padding-left: 2em;
}

.form-container-custom {
    display: flex;
    justify-content: center; /* centers horizontally */
    align-items: flex-start; /* centers vertically */
    flex-direction: column;
    width: auto;
    margin: 0 auto;
    padding: 30px;
    background-color: /*#953553*/ antiquewhite;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}
